.spots__main__contents__article
  .spots__main__contents__article__right
    .spots__main__contents__article__right__title
      %h2
        = spot.title.truncate(30, omission: '...') if spot.title

    .spots__main__contents__article__right__prefecture
      %p
        - if spot.prefecture
          = "#{spot.prefecture.parent.name} #{spot.prefecture.name}"

    .spots__main__contents__article__right__text
      %p
        = simple_format(spot.text) if spot.text
        

    .spots__main__contents__article__right__bottom
      .spots__main__contents__article__right__bottom__show
        = link_to spot_path(spot), data: {turbolinks: false} do
          %span
            詳しく読む 
          = icon 'fas', 'arrow-right'

      .spots__main__contents__article__right__bottom__row
        .spots__main__contents__article__right__bottom__row__element
          %p
            投稿者：
            = spot.author.nickname if spot.author
  
        .spots__main__contents__article__right__bottom__row__element
          %p
            いいね！：
            = icon 'fas', 'heart'
            3
        .spots__main__contents__article__right__bottom__row__element
          %p
            コメント：3件
            

  .spots__main__contents__article__left
    .spots__main__contents__article__left__image
      =image_tag spot.photos[0].image.to_s if spot.photos[0]

    .spots__main__contents__article__left__chart
      %canvas{id: "myChart#{spot_counter}"}.mychart
      


