- if @spot.errors.present?
  .spots__main__new__contents__errors
    %p
      入力内容にエラーがあります
    %ul
      - @spot.errors.full_messages.each do |message|
        %li
          = message

= form_with model: @spot, local: true, class: 'spots__main__new__contents__form' do |f|
  .spots__main__new__contents__form__common
    = f.label :title do
      = icon('fas', 'circle')
      スポット名（必須）
      %br
    = f.text_field :title, placeholder: '最大50文字'

  .spots__main__new__contents__form__common
    = f.label :text do
      = icon('fas', 'circle')
      スポットの紹介・エピソード（必須）
      %br
    = f.text_area :text, rows: 8, placeholder: '最大400文字'

  .spots__main__new__contents__form__common.spots__main__new__contents__form__prefecture
    = f.label :prefecture_id do
      = icon('fas', 'circle')
      スポットの所在地（必須）
      %br
    .spots__main__new__contents__form__common#prefecture_select
      - if @spot.prefecture_id
        .spots__main__new__contents__form__prefecture--inner
          = f.collection_select :prefecture_pre_id, Prefecture.where('id <= 47'), :id, :name, {include_blank: '都道府県', selected: @pre_prefecture.id}
        .spots__main__new__contents__form__prefecture--inner.spots__main__new__contents__form__prefecture__second
          = f.collection_select :prefecture_id, Prefecture.find(@pre_prefecture.id).children, :id, :name, selected: @spot.prefecture.id
        .spots__main__new__contents__form__prefecture--inner.spots__main__new__contents__form__prefecture__second
          = f.text_field :address, placeholder: '市町村以下(任意)'
      - else
        .spots__main__new__contents__form__prefecture--inner
          = f.collection_select :prefecture_pre_id, Prefecture.where('id <= 47'), :id, :name, include_blank: '都道府県'
        

  .spots__main__new__contents__form__common.spots__main__new__form__images
    %h3
      = icon('fas', 'circle')
      写真アップロード
    
    -# - @spot.photos.each do |pho|
    -# - unless @spot.photos[1]
    .spots__main__new__contents__form__image
      = f.fields_for :photos do |pic|
        = pic.label :image do
          1.
          = icon('fas', 'camera')
          ファイルを選択して下さい
        = pic.file_field :image
        = pic.hidden_field :image_cache
        = pic.hidden_field :id


  .spots__main__new__contents__form__common
    %h3
      = icon('fas', 'circle')
      評価(5段階)
    
    = f.fields_for :radar do |r|
      .spots__main__new__contents__form__radar
        .spots__main__new__contents__form__radar__labe
          = r.label :retro, 'レトロ'
        .spots__main__new__contents__form__radar__sele
          = r.select :retro, [0, 1, 2, 3, 4, 5], include_blank: '選択して下さい'

      .spots__main__new__contents__form__radar
        .spots__main__new__contents__form__radar__labe
          = r.label :rare, 'レア'
        .spots__main__new__contents__form__radar__sele
          = r.select :rare, [0, 1, 2, 3, 4, 5], include_blank: '選択して下さい', class: 'spots__main__new__form__radar__sele'

      .spots__main__new__contents__form__radar
        .spots__main__new__contents__form__radar__labe
          = r.label :insta, 'インスタ映え'
        .spots__main__new__contents__form__radar__sele
          = r.select :insta, [0, 1, 2, 3, 4, 5], include_blank: '選択して下さい', class: 'spots__main__new__form__radar__sele'

      .spots__main__new__contents__form__radar
        .spots__main__new__contents__form__radar__labe
          = r.label :emotional, 'エモい'
        .spots__main__new__contents__form__radar__sele
          = r.select :emotional, [0, 1, 2, 3, 4, 5], include_blank: '選択して下さい', class: 'spots__main__new__form__radar__sele'

      .spots__main__new__contents__form__radar
        .spots__main__new__contents__form__radar__labe
          = r.label :kawaii, 'かわいい'
        .spots__main__new__contents__form__radar__sele
          = r.select :kawaii, [0, 1, 2, 3, 4, 5], include_blank: '選択して下さい', class: 'spots__main__new__form__radar__sele'

  .spots__main__new__contents__form__submit
    = f.submit '投稿する'