= render partial: 'header'

%main.spots__main
  .spots__main__contents
    = render 'article'
    = render 'article'
    = render 'article'
    = render 'article'
    = render 'article'
    = render 'article'
    

%footer