= render partial: 'header'

%main.spots__show
  .spots__show__contents
    .spots__show__contents__right
      .spots__show__contents__right__title
        %h2
          = @spot.title if @spot.title

      .spots__show__contents__right__prefecture#address
        %p
          - if @spot.prefecture
            = "#{@spot.prefecture.parent.name} #{@spot.prefecture.name}"

      .spots__show__contents__right__text
        %p
          = simple_format(@spot.text) if @spot.text
          
      .spots__show__contents__right__bottom
        .spots__show__contents__right__bottom__row
          .spots__show__contents__right__bottom__row__element
            %p
              投稿者：
              = @spot.author.nickname if @spot.author
              = "(#{@spot.created_at.strftime('%Y/%m/%d')})"

        .spots__show__contents__right__bottom__row
          .spots__show__contents__right__bottom__row__element
            %p
              いいね！：
              = icon 'fas', 'heart'
              3
          .spots__show__contents__right__bottom__row__element
            %p
              コメント：3件

        .spots__show__contents__right__bottom__row
          - if current_user == @spot.author
            %ul
              %li.spots__show__contents__right__bottom__row__element.spots__show__contents__right__bottom__row__element__edit
                = link_to edit_spot_path(@spot), data: {turbolinks: false} do
                  = icon('fas', 'edit')
                  編集する
              %li.spots__show__contents__right__bottom__row__element.spots__show__contents__right__bottom__row__element__delete
                = link_to @spot, method: :delete, data: { confirm: 'この記事を削除します。よろしいですか？' } do
                  = icon('far', 'trash-alt')
                  記事の削除

    .spots__show__contents__left
      .spots__show__contents__left__image
        =image_tag @spot.photos[0].image.to_s if @spot.photos[0]

      .spots__show__contents__left__chart
        %canvas{id: "myChart0"}.mychart

      .spots__show__contents__left__maps
        %p.spots__show__contents__left__maps__heading
          だいたいこの辺
        - if @spot.address.present?
          %input{name: 'address_for_map', type: 'hidden', value: @spot.prefecture.parent.name + ' ' + @spot.prefecture.name + ' ' + @spot.address, id: 'address_for_map'}
        - else 
          %input{name: 'address_for_map', type: 'hidden', value: @spot.prefecture.parent.name + ' ' + @spot.prefecture.name, id: 'address_for_map'}

        #map.spots__show__contents__left__maps__google-map
          


:javascript
    let address = $('#address_for_map').val();
    let map;
    let geocoder
    function initMap() {
      geocoder = new google.maps.Geocoder();

      map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 15
      });
      geocoder.geocode( { 'address': address }, function(results, status) {
        if(status == 'OK') {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
          });
        } else {
          alert('error' + status)
        }
      });
      
    }

= javascript_include_tag @google, async: 'defer'
