= render partial: 'header'

%main.spots__show
  .spots__show__contents
    .spots__show__contents__right
      .spots__show__contents__right__title
        %h2
          = @spot.title if @spot.title

      .spots__show__contents__right__prefecture
        %p
          - if @spot.prefecture
            = "#{@spot.prefecture.parent.name} #{@spot.prefecture.name}"

      .spots__show__contents__right__text
        %p
          = simple_format(@spot.text) if @spot.text
          
      .spots__show__contents__right__bottom
        .spots__show__contents__right__bottom__row
          .spots__show__contents__right__bottom__row__element
            %p
              投稿者：
              = @spot.author.nickname if @spot.author

          .spots__show__contents__right__bottom__row__element
            %p
              いいね！：
              = icon 'fas', 'heart'
              3
          .spots__show__contents__right__bottom__row__element
            %p
              コメント：3件
        .spots__show__contents__right__bottom__row
          - if current_user == @spot.author
            .spots__show__contents__right__bottom__row__element__delete
              
              = link_to @spot, method: :delete, data: { confirm: 'この時期を削除します。よろしいですか？' } do
                = icon('far', 'trash-alt')
                記事の削除

    .spots__show__contents__left
      .spots__show__contents__left__image
        =image_tag @spot.photos[0].image.to_s if @spot.photos[0]

      .spots__show__contents__left__chart
        %canvas{id: "myChart0"}.mychart
