!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 街ログ！

    = Gon::Base.render_data
    = csrf_meta_tags
    = csp_meta_tag
    -# = stylesheet_link_tag rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{href: '//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css', rel: 'stylesheet', type: 'text/css'}/
    %link{href: 'https://fonts.googleapis.com/css?family=Kosugi+Maru|M+PLUS+1p:400,700|Noto+Sans+JP:400,700|Noto+Serif+JP:400,700&display=swap&subset=japanese', rel: 'stylesheet'}/
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: '//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js', type: 'text/javascript'}
    
    -# %script{src: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'}
  %body
    = yield
